<app-nav [titulo]="'Servicios'"></app-nav>

<section class="py-0">
    <img class="img-fluid" src="../../../../assets/images/banner-nuestros-programas.jpg" alt="">
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Nuestros Programas</h2>
                <p>La Cámara de Comercio del Cauca busca construir capacidades regionales para el mejoramiento de la competitividad y el fortalecimiento de las diferentes cadenas productivas, a partir de la redefinición de su estrategia de largo plazo para que estos puedan competir en segmentos de negocio más atractivos y rentables, y adicional a esto, mantenerse en ellos en el tiempo.</p>
            </div>
        </div>
    </div>
</section>


<div class="bg-primary pt-5 pb-3" style="margin-bottom: 3rem;">
    <div class="container" style="margin-bottom: -3rem;">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comercio.svg" alt="">
                        </div>
                        <a [routerLink]="['/comercio']" class="card-title stretched-link">Comercio</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/programa-ingenia.svg" alt="">
                        </div>
                        <a [routerLink]="['/programa-ingenia']" class="card-title stretched-link">Ingenia</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/aliado-plus.svg" alt="">
                        </div>
                        <a [routerLink]="['/programa-aliado-plus']" class="card-title stretched-link">Aliado Plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-primary pt-5 pb-3" style="margin-bottom: 3rem;">
    <div class="container" style="margin-bottom: -3rem;">
        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comercio.svg" alt="">
                        </div>
                        <a [routerLink]="['/comercio']" class="card-title stretched-link">Comercio</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/programa-ingenia.svg" alt="">
                        </div>
                        <a [routerLink]="['/programa-ingenia']" class="card-title stretched-link">Ingenia</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/aliado-plus.svg" alt="">
                        </div>
                        <a [routerLink]="['/programa-aliado-plus']" class="card-title stretched-link">Aliado Plus</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/convocatorias.svg" alt="">
                        </div>
                        <a [routerLink]="['/convocatorias']" class="card-title stretched-link">Convocatorias</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comision-regional-competitividad-cauca.svg" alt="">
                        </div>
                        <a [routerLink]="['/competitividad-regional']" class="card-title stretched-link">Competitividad Regional</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/conciliacion.svg" alt="">
                        </div>
                        <a [routerLink]="['/centro-conciliacion']" class="card-title stretched-link">Centro de conciliacion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">

           <app-swiper-eventos></app-swiper-eventos>

        <h2 class="mb-4">Nuestros Servicios</h2>
        <div class="row mb-5">
            <div class="col-md-6 mb-3 mb-md-0">
                <div class="card bg-img only-title">
                    <div class="card-body">
                        <img src="https://source.unsplash.com/random/450x320?enterprise" alt="">
                            <a [routerLink]="['/registros-publicos']" class="stretched-link">Registros Públicos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-img only-title">
                    <div class="card-body">
                        <img src="https://source.unsplash.com/random/450x320?convention" alt="">
                        <a [routerLink]="['/servicios-virtuales']" class="stretched-link">Servicios Virtuales</a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="mb-4">Atención Ciudadana</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
            <div class="col">
                <div class="card icon-title icon-left">
                    <div class="card-body">
                        <div class="card-icon border-end border-4">
                            <img src="../../../../assets/icons/persona-brazo-levantado.svg" alt="">
                        </div>
                        <a href="#" class="card-title stretched-link">Alquiler de Auditorios y otros valores</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title icon-left">
                    <div class="card-body">
                        <div class="card-icon border-end border-4">
                            <img src="../../../../assets/icons/persona-brazo-levantado.svg" alt="">
                        </div>
                        <a [routerLink]="['/centro-conciliacion']" class="card-title stretched-link">Centro de Conciliación</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title icon-left">
                    <div class="card-body">
                        <div class="card-icon border-end border-4">
                            <img src="../../../../assets/icons/persona-brazo-levantado.svg" alt="">
                        </div>
                        <a href="#" class="card-title stretched-link">Información para mujeres</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title icon-left">
                    <div class="card-body">
                        <div class="card-icon border-end border-4">
                            <img src="../../../../assets/icons/persona-brazo-levantado.svg" alt="">
                        </div>
                        <a href="#" class="card-title stretched-link">Información para niños, niñas y adolescentes</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title icon-left">
                    <div class="card-body">
                        <div class="card-icon border-end border-4">
                            <img src="../../../../assets/icons/persona-brazo-levantado.svg" alt="">
                        </div>
                        <a href="#" class="card-title stretched-link">Ley de Transparencia</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title icon-left">
                    <div class="card-body">
                        <div class="card-icon border-end border-4">
                            <img src="../../../../assets/icons/persona-brazo-levantado.svg" alt="">
                        </div>
                        <a href="#" class="card-title stretched-link">PQRSD</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title icon-left">
                    <div class="card-body">
                        <div class="card-icon border-end border-4">
                            <img src="../../../../assets/icons/persona-brazo-levantado.svg" alt="">
                        </div>
                        <a href="#" class="card-title stretched-link">Preguntas Frecuentes</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title icon-left">
                    <div class="card-body">
                        <div class="card-icon border-end border-4">
                            <img src="../../../../assets/icons/persona-brazo-levantado.svg" alt="">
                        </div>
                        <a href="#" class="card-title stretched-link">Sistema preventivo de Fraudes (SIPREF)</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title icon-left">
                    <div class="card-body">
                        <div class="card-icon border-end border-4">
                            <img src="../../../../assets/icons/persona-brazo-levantado.svg" alt="">
                        </div>
                        <a href="#" class="card-title stretched-link">Términos y condiciones de uso</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
