<h2>Blog</h2>
<section id="blogs">
  <div class="row mb-5">
      <div class="swiper slidesPerView-3">
          <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let blog of listaBlogs">
                <div class="card bgbody-footer">
                  <div class="card-body">
                      <img src="{{blog.nombreImagen}}" alt="">
                      <div class="card-title">
                          <h5>{{blog.titulo}}</h5>
                          <p>{{blog.descripcion}}</p>
                          <a href="{{blog.nombreArchivo}}" target="_blank" class="btn btn-primary btn-sm">Ver</a>
                      </div>
                  </div>
              </div>
              </div>
             
          </div>
      </div>
  </div>
</section>