@import "overrides.scss";
@import "bootstrap.scss";

// components
@import "cards&swipers";
/* --------------------------------------------------------------*/
/*                              GLOBAL                             */
/* --------------------------------------------------------------*/

h1,h2,h3 {
    color: $primary;
    font-weight: bolder;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.8rem;
}
section{
    padding: 3.5rem 0;
}
.banner{
    min-height: 20rem;
    padding: 2rem 3rem;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.45);
        z-index: 0;
    }
    div{
        position: inherit;
        z-index: 1;
    }
    .title{
        color: #fff;
        position: absolute;
        &.bt-left{
            bottom: 1rem;
            left: 1rem;
        }
    }
}

#BreadCrumb{
    padding: 1rem;
    background-color: $primary;
    .breadcrumb{
        margin-bottom: 0;
        li{
            h1{
                color: #fff;
                font-weight: bold;
                font-size: 1.7rem !important;
                margin-bottom: 0;
                position: relative;
                padding-right: 1.5rem;
                &::after{
                    content: "";
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #fff;
                }
            }
        }
    }
}
.follow-us li{
    margin: 0 .3rem;
    font-size: 1em;
    &:not(:first-child){
     flex: 0 0 1rem;
    }
    a{
        display: block;
        width: 100%;
        img{
            width: 100%;
        }
    }
}
.readmore{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 .5rem;
}

.swiper-pagination{
    bottom: 1.5rem !important;
    .swiper-pagination-bullet{
        width: 0.8rem;
        height: 0.8rem;
        background: #e4e3e3;
    }
}
.bordered-btns{
    .btn{
        background-color: $gray-400;
        text-align: left;
        text-transform: uppercase;
        border-radius: 1.1rem;
        line-height: 1.1;
        padding: .7rem 1.2rem;
        min-height: 3.5rem;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: .5rem;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-color: $primary;
            border-radius: 1.1rem;
            z-index: -1;
        }
        &:hover{
            background-color: $primary;
            color: #fff;
        }
    }
}
.block-buttons-group{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    
    .block-button{
        border: 1px solid #a1a1a1;
        border-radius: 1rem;
        margin: .7rem 0;
        padding: 1.5rem;
        &:hover {
            border-color: $primary;
            color: $primary;
        }
        p {
            display: inline-block;
            max-width: calc(100% - 4rem);
            width: 100%;
            font-size: 1.3rem;
            margin-bottom: 0px !important;
            line-height: 1.1;
        }
        a {
            display: inline-block;
            max-width: 6rem;
            margin-left: 1rem;
            vertical-align: middle;
            font-size: 1.3rem;
            text-align: left;
            text-decoration: none;
        }
    }
}
.social-share{
    margin-bottom: 0;
    li{ display: inline-block;}
    display:block;
}
/* --------------------------------------------------------------*/
/*                              HOME                             */
/* --------------------------------------------------------------*/
/* #MainSlider */
#MainSlider{
    background-color: $primary;
    padding: 0;
    .swiper-pagination{
        position: absolute;
        bottom: 4rem !important;
    }
    .swiper {
        width: 100%;
        height: 30rem;
    }
    .swiper-slide {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 2rem;
        & > img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .slide-caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            .text{
                text-align: right;
                font-size: 2em;
                line-height: 1;
                margin-left: 3rem;
                color: #fff;
                h2{
                    font-size: 4rem;
                    margin: 0;
                    color: #fff;
                    line-height: .8;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    button{
        background-color: #e77d05;
        border-radius: 5rem;
        font-size: 1.4rem;
        color: #fff;
        font-weight: bolder;
    }
    & .swiper-button-next, & .swiper-button-prev{
        color: #fff;
    }
}

/* #Blog */
#Blog {
    .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: left;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            border-radius: 1.5rem;
            overflow: hidden;
            color: #fff;
            padding: 2rem;
            &::after{
                content: "";
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to top, #000000 15%, #00000082 35%, #0000 60%);
                opacity: 0.7;
                transition: all .5s ease-in-out;
            }
            h3, p{
                position: relative;
                z-index: 1;
            }
            h3{
                max-width: 18rem;
                font-size: 2.2rem;
                font-weight: lighter;
                line-height: 1.1;
                color: #fff;
            }
            video {
                object-fit: cover;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
        .swiper-pagination{
            bottom: .5rem !important;
        }
    }
}
@media screen and (max-width:576px) {
    #Blog{
        .swiper{
            height: 60vh;
        }
    }
}


body{
    margin-top: 124px;
}
header{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1030;
    #headerTopBar{
        background-color: #0066CD;
        padding: .6rem 0;
    }
    .nav-link{
        // color: $primary;
        line-height: 1.2;
    }
    .nav-link.btn.search{
        &:hover .bi-search{color: $primary;}
    }
}
main{
    padding-bottom: 4rem;
}
/* #logosGovCo */
#logosGovCo{
    margin-bottom: 3rem;
    .swiper{
        padding: 0 3rem;
        .swiper-wrapper{
            .swiper-slide{
                width: 10rem;
                height: 5rem;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    img {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        object-fit: contain;
                    }
    
                }
            }
        }
    }
}
/* #FooterMenu */
#FooterMenu{
    padding: 1.7rem 0;
    box-shadow: 0 -20px 20px 10px #d2d2d278;
    .footer-menu-item{
        
        .icon{
            max-width: 3rem;
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            scale: 1;
            transition: scale .5s ease-in-out;
        }
        &:hover .icon{scale: 1.2;}
        a{
            display: inline-block;
            max-width: calc(100% - 5rem);
            margin-left: 1rem;
            vertical-align: middle;
            text-align: left;
            text-decoration: none;
            font-weight: 500;
            line-height: 1.1;
            &:hover{text-decoration: underline;}
        }
    }
    & > .container > .row > .col:last-child{
        .footer-menu-item{border-width: 0 !important;}
    }
}
@media screen and (max-width:576px) {
    #FooterMenu{
        overflow-x: hidden;
        .footer-menu-item{
            border-width: 0 !important;
            transform: translate(-25%, 0);
            position: relative;
            left: 50%;
        }
    }
}
/* footer */
footer {
    background-color: $primary;
    min-height: 20vh;
    color: #fff;
    padding: 2.5rem 0 0;
    font-size: 14px;
    a {
        color: #fff;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            color: #fff;
        }
    }
    .certificados {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        & .sello{
            flex: 0 0 33.333333%;
            padding: .7rem;
        }
    }
    .sub-footer {
        border-top: 1px solid #fff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 1.7rem 0;
        .subfooter-menu{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 0;
            li{
                padding: 0 0.5rem;
                border-right: 1px solid #fff;
                margin-bottom: 0.7rem;
                &:last-child{border: 0;}
            }
            
        }
        
    }
}
#AccesibilityBtn{
    position: fixed;
    top: 50%;
    left: .5rem;
    cursor: pointer;
    z-index: 9999;
    .tag{
        width: 0px;
        padding: 0.3rem;
        border-radius: 3rem;
        background-color: #e77d05;
        color: #fff;
        position: absolute;
        overflow: hidden;
        text-align: center;
        top: calc(50% - 1rem);
        left: 20px;
        z-index: -1;
        transition: all .5s ease-in-out;
    }
    &:hover .tag{
        left:45px;
        width: 8rem;
    }
}
/* offset menu */
.offmenu-toggle{
    span{
        display: block;
        width: 34px;
        height: 6px;
        margin-bottom: 4px;
        background-color: #DCDCDC;
    }
    &:hover span{background-color: $primary;}
}
#OffCanvasMenu{
    bottom: unset;
    top: 124px;
    right: 3rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.15) !important;
    .navbar-nav{
        .nav-link{
            &::before {
                content: "\F285";
                font-family: 'bootstrap-icons';
                font-size: 1rem;
                vertical-align: bottom;
            }
            &:hover{text-decoration: underline;}
        }
    }
}
@media screen and (max-width:576px) {
    #OffCanvasMenu{
        right: 0;
    }
}
/* --------------------------------------------------------------*/
/*                   SERVICIOS VIRTUALES                 */
/* --------------------------------------------------------------*/
.search-service{
    input{
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    button{
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}
