<app-nav [titulo]="'Convocatorias'"></app-nav>
<div class="container mt-3">
    <div class="row banner rounded-5"
        style="background: url('{{contenidoWeb.imagen}}')no-repeat center/cover;">
        <div class="col-md-6">
            <h2 class="text-white">{{contenidoWeb.titulo_1}}</h2>
            <p class="text-white">{{contenidoWeb.descripcion}}</p>
        </div>
    </div>
</div>

<div class="bg-primary pt-5 pb-3" style="margin-top: -4rem;margin-bottom: 2rem;">
    <div class="container pt-5" style="margin-bottom: -3rem;">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/oferta-laboral.svg" alt="">
                        </div>
                        <h5 class="card-title">Oferta Laboral</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/pasantias.svg" alt="">
                        </div>
                        <h5 class="card-title">Pasantías</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/terminos-de-invitacion.svg" alt="">
                        </div>
                        <h5 class="card-title">Términos de Invitación</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-ofertas></app-ofertas>

<section id="Ofertas" class="bg-primary" style="margin-bottom: 25rem;">
    <div class="container" style="margin-bottom: -15rem;">
        <div class="row">
            <div class="col">
                <h2 class="text-white mb-4">Otras ofertas que pueden interesarte</h2>
                <app-ofertas [bandera]="false"></app-ofertas>
            </div>
        </div>
    </div>
</section>