    <!-- Offcanvas Menu -->
<div class="offcanvas offcanvas-end p-3" data-bs-backdrop="true" tabindex="-1" id="OffCanvasMenu" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header justify-content-evenly">
            <img src="../../../../assets/logo.svg" alt="logo Cámara de comercio del Cauca" width="50">
            <h5 class="offcanvas-title text-primary fw-bold" id="offcanvasRightLabel">Cámara de comercio</h5>
        </div>
        <div class="offcanvas-body p-5">
            <h4 class="text-primary text-uppercase">Menu</h4>
            <nav class="navbar navbar-expand-sm navbar-light bg-white">
                <div class="navbar-nav flex-column">
                    <a class="nav-link " [routerLink]="['nuestra-camara']">Nuestra Cámara</a>
                    <a class="nav-link"  [routerLink]="['competitividad-regional']">Competitividad Regional</a>
                    <a class="nav-link"  [routerLink]="['informacion-economica']">Información Económica</a>
                    <a class="nav-link"  [routerLink]="['servicios-virtuales']">Servicios Virtuales</a>
                    <a class="nav-link"  [routerLink]="['programa-aliado-plus']">Programa Aliado Plus</a>
                    <a class="nav-link"  [routerLink]="['convocatorias']">Convocatorias</a>
                    <a class="nav-link"  [routerLink]="['programa-ingenia']">Programa Ingenia</a>
                    <a class="nav-link"  [routerLink]="['pqrs']">PQRS</a>
                    <a class="nav-link"  [routerLink]="['atencion-ciudadana']" >Atención Ciudadana</a>
                    <a class="nav-link"  >Iniciar Sesión</a>
                </div>
            </nav>
        </div>
</div>
