<nav id="BreadCrumb" aria-label="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/podcast']">Sala de prensa</a></li>
                </ol>
            </div>
        </div>
    </div>
</nav>

<section>
    <div class="container">
        <h1>Cauca nos mueve vuelve!</h1>
        <div class="swiper slidesPerView-1 mb-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/480x768?journalist" alt="">
                            <div class="card-title bt-left">
                                <h3>Cauca nos mueve</h3>
                                <p>Estamos listos para seguir creciendo con nuestros empresarios, abriendo caminos y generando oportunidades de progreso y bienestar para nuestra región.</p>
                                <button class="btn btn-light">
                                    <span>Ver</span><i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                            <span class="media-type"><i class="bi bi-caret-right-fill"></i></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/480x768?interview" alt="">
                            <div class="card-title bt-left">
                                <h3>Cauca nos mueve</h3>
                                <p>Estamos listos para seguir creciendo con nuestros empresarios, abriendo caminos y generando oportunidades de progreso y bienestar para nuestra región.</p>
                                <button class="btn btn-light">
                                    <span>Ver</span><i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                            <span class="media-type"><i class="bi bi-caret-right-fill"></i></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/480x768?contest" alt="">
                            <div class="card-title bt-left">
                                <h3>Cauca nos mueve</h3>
                                <p>Estamos listos para seguir creciendo con nuestros empresarios, abriendo caminos y generando oportunidades de progreso y bienestar para nuestra región.</p>
                                <button class="btn btn-light">
                                    <span>Ver</span><i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                            <span class="media-type"><i class="bi bi-caret-right-fill"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="swiper slidesPerView-3">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/480x768?finance" alt="">
                            <div class="card-title bt-left">
                                <h3>Título</h3>
                                <button class="btn btn-light">
                                    <span>Ver</span><i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                            <span class="media-type"><i class="bi bi-caret-right-fill"></i></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/480x768?economy" alt="">
                            <div class="card-title bt-left">
                                <h3>Título</h3>
                                <button class="btn btn-light">
                                    <span>Ver</span><i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                            <span class="media-type"><i class="bi bi-caret-right-fill"></i></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/480x768?trading" alt="">
                            <div class="card-title bt-left">
                                <h3>Título</h3>
                                <button class="btn btn-light">
                                    <span>Ver</span><i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                            <span class="media-type"><i class="bi bi-caret-right-fill"></i></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/480x768?exchange" alt="">
                            <div class="card-title bt-left">
                                <h3>Título</h3>
                                <button class="btn btn-light">
                                    <span>Ver</span><i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                            <span class="media-type"><i class="bi bi-caret-right-fill"></i></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/480x768?trade-center" alt="">
                            <div class="card-title bt-left">
                                <h3>Título</h3>
                                <button class="btn btn-light">
                                    <span>Ver</span><i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                            <span class="media-type"><i class="bi bi-caret-right-fill"></i></span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/480x768?capital" alt="">
                            <div class="card-title bt-left">
                                <h3>Título</h3>
                                <button class="btn btn-light">
                                    <span>Ver</span><i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                            <span class="media-type"><i class="bi bi-caret-right-fill"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<section class="bg-primary" style="margin-bottom: 7rem;" id="especiales">
    <div class="container">
        <div class="row ">
            <h2 class="text-white">Especiales</h2>
            <div class="col ps-5">
                <div class=" ps-5 swiper slidesPerView-3"  style="margin-bottom: -7rem;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let especial of listaEspeciales">
                            <div class="card bg-img">
                                <div class="card-body">
                                    <img src="{{especial.rutaImagen}}" alt="">
                                    <div class="card-title bt-left">
                                        <h3>{{especial.titulo}}</h3>
                                        <button class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#modalDetalle">
                                            <span>Ver</span><i class="bi bi-arrow-right"></i>
                                          </button>
                                    </div>
                                    
                                    <span class="media-type"><i class="bi bi-caret-right-fill"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-swiper-prensa [tipoPodcast]="'2'" [titulo]="'Comunicado de prensa'"></app-swiper-prensa>
<app-swiper-prensa [tipoPodcast]="'1'" [titulo]="'Podcast'"></app-swiper-prensa>
<app-modal></app-modal>



 






