<app-nav [titulo]="'Preguntas frecuentes'"></app-nav>
<section class="p-0">
    <div class="container mt-3 mb-5">
        <div class="row banner rounded-5 pb-5" style="background: url('{{contenidoWeb.imagen}}')no-repeat center/cover;">
            <div class="col-md-6 align-self-end">
                <h1 class="text-white">{{contenidoWeb.titulo_1}}</h1>
            </div>
        </div>
        <div class="row mt-3">
            <p class="text-primary">{{contenidoWeb.descripcion}}</p>
        </div>         
    </div>
</section>
<div class="container">
   <div class="row mb-5">
        <p class="mb-3 text-primary fs-4">Preguntas Frecuentes</p>
        <div class="accordion accordion-flush" id="infoEntidad">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        ¿Cómo se registra el cambio de dirección de una persona jurídica o natural? 
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#infoEntidad">
                    <div class="accordion-body">
                        <p>Por medio de un formato de cambio de dirección que se encuentra en las sedes de la Cámara de Comercio o de manera virtual por medio del portal&nbsp;<a href="http://www.cccauca.org.co&nbsp;Se">http://www.cccauca.org.co&nbsp;Se</a> debe reconocer el contenido del documento y la firma del solicitante ante Notario Público o hacer presentación personal ante el secretario de la Cámara de Comercio, ya que este documento debe inscribirse en el Registro Mercantil (artículo 40 Código de Comercio).</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿Qué programas o proyectos se tiene para los emprendedores?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#infoEntidad">
                <div class="accordion-body">
                    <div class="accordion-body">
                        <p>La entidad cuenta con el servicio de emprendimiento y fortalecimiento empresarial Ingeniando, que busca estructurar y fortalecer las ideas de negocio de los emprendedores caucanos, mediante la formación y el acompañamiento, permitiéndoles a los participantes experimentar las etapas del emprendimiento para generar soluciones que pueden ser concretadas en oportunidades de negocio a futuro.</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        ¿Qué programas o proyectos se tiene para microempresarios?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#infoEntidad">
                    <div class="accordion-body">
                        <p>La Entidad cuenta con el servicio de emprendimiento y fortalecimiento empresarial Ingeniando para microempresarios, que tiene como objetivo hacer que las microempresas de la región crezcan, ayudándolas a definir su estructura organizacional y mejorar sus procesos internos; mediante la transferencia de conocimientos, metodologías y herramientas prácticas que les permitan proyectar su propio crecimiento.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        ¿La Cámara de Comercio otorga recursos financieros para poner en marcha ideas de negocio?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#infoEntidad">
                    <div class="accordion-body">
                        <p>La Cámara de Comercio del Cauca no brinda apoyo financiero, la única actividad que realiza la entidad y que brinda como premio recursos financieros para la compra de insumos para poner en marcha su proyecto emprendedor es el concurso de emprendimiento Ingeniando que se realiza cada año.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        ¿Qué plazo tengo para solicitar la matrícula?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#infoEntidad">
                    <div class="accordion-body">
                        <p>La solicitud de matrícula debe presentarse dentro del mes siguiente a la fecha en que la persona natural empezó a ejercer el comercio o en que la sucursal o establecimiento de comercio fue abierto. Tratándose de personas jurídicas, la petición de matrícula se debe presentar por el representante legal, dentro del mes siguiente a la fecha del documento de constitución o a la del permiso de funcionamiento.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        ¿Cuál es la reunión universal?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#infoEntidad">
                    <div class="accordion-body">
                        <p>Es aquella en la que se encuentra presente o representada la totalidad de los asociados hábiles de la respectiva entidad y además existe la voluntad de todos de constituirse en asamblea general. Esta clase de reunión no necesita convocatoria previa y pueden deliberar en cualquier sitio y en cualquier tiempo.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_A-1-7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_A-1-7" aria-expanded="false" aria-controls="collapse_A-1-7">
                        ¿Qué registros llevan las Cámaras de Comercio? 
                    </button>
                </h2>
                <div id="collapse_A-1-7" class="accordion-collapse collapse" aria-labelledby="heading_A-1-7" data-bs-parent="#infoEntidad">
                    <div class="accordion-body">
                        <p>Las Cámaras de Comercio en Colombia, por expresa disposición legal llevan los siguientes registros: Registro de Entidades sin Ánimo de Lucro creado por el Decreto 2150 de 1995, del Registro Nacional Público de las personas naturales y jurídicas que ejerzan la actividad de vendedores de Juegos de Suerte y Azar de que trata la Ley 643 de 2001, del Registro Público de Veedurías Ciudadanas de que trata la Ley 850 de 2003, del Registro Nacional de Turismo de que trata la Ley 1101 de 2006, del Registro de Entidades Extranjeras de Derecho Privado sin Ánimo de Lucro con domicilio en el exterior que establezcan negocios permanentes en Colombia de que trata el Decreto 2893 de 2011, y del Registro de la Economía Solidaria de que trata la Ley 454 de 1998 y recientemente el Registro Único de Operadores de Libranza.&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_A-1-8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_A-1-8" aria-expanded="false" aria-controls="collapse_A-1-8">
                        ¿Cuál es la naturaleza de la función que realizan las cámaras de comercio en relación con el registro único empresarial ay social RUES?
                    </button>
                </h2>
                <div id="collapse_A-1-8" class="accordion-collapse collapse" aria-labelledby="heading_A-1-8" data-bs-parent="#infoEntidad">
                    <div class="accordion-body">
                        <p>Las cámaras de comercio realizan una función administrativa de interés general. Dicha función ha sido otorgada en virtud de la figura de la descentralización por colaboración. Por lo anterior, los actos que emite la Cámara de Comercio relativos a registro, son actos administrativos.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_B-1-1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_B-1-1" aria-expanded="false" aria-controls="collapse_B-1-1">
                        ¿Qué es homonimia?
                    </button>
                </h2>
                <div id="collapse_B-1-1" class="accordion-collapse collapse" aria-labelledby="heading_B-1-1" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>La homonimia implica la existencia de dos comerciantes (personas naturales, sociedades comerciales o establecimientos de comercio) con nombres idénticos, sin tener en cuenta la naturaleza jurídica (S.A., Ltda.) o nombres reservados para las instituciones financieras o comunes sin reserva para el uso del público en general. No hay homonimia cuando dos nombres son similares.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_20">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_20" aria-expanded="false" aria-controls="collapse_20">
                        ¿Qué tipos de actos y documentos deben inscribirse? 
                    </button>
                </h2>
                <div id="collapse_20" class="accordion-collapse collapse" aria-labelledby="heading_20" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div><p>Aquellos para los cuales la ley, exija dicha formalidad. Los más importantes son:</p>

                            <p>&nbsp;</p>
                            
                            <ul>
                                <li>• La escritura pública o el documento privado mediante el cual se celebren, modifiquen, o revoquen capitulaciones matrimoniales, cuando el marido o la mujer o alguno de ellos sea comerciantes.</li>
                                <li>• El documento en virtud del cual se liquide la sociedad conyugal, cuando el marido o la mujer fueren comerciantes.</li>
                                <li>• La providencia por la cual se declara, decrete, suspenda o revoque la inhabilidad o incapacidad para ejercer el comercio.</li>
                                <li>• El acta o diligencia de posesión o certificado expedido por el funcionario ante quien el comerciante tome posesión del cargo que lo inhabilite para ejercer el comercio.</li>
                                <li>• Respecto del concordato: a) providencia de apertura b) providencia de aprobación del acuerdo c) la providencia que declare cumplido el acuerdo concordatario d) Providencia que remueva administradores o revisor fiscal.</li>
                                <li>• Respecto de la liquidación obligatoria:
                                <ul>
                                    <li>a) La providencia de apertura del trámite de liquidación obligatoria, así como aquella contentiva del nombramiento del liquidador</li>
                                    <li>b) La providencia que declare terminada la liquidación obligatoria c) Providencia que remueva administradores o revisor fiscal.</li>
                                </ul>
                                </li>
                                <li>•&ZeroWidthSpace; Todo acto en virtud del cual se confiera, modifique o revoque la administración parcial o general de los bienes o negocios del comerciante.</li>
                                <li>• Respecto de los establecimientos de comercio: a) Apertura y cierre de sucursales y agencias b) Actos que afecten o modifiquen la propiedad del establecimiento de comercio así como su administración.</li>
                                <li>• Respecto de las sucursales de sociedades extranjeras: a) Acto en virtud del cual se protocolicen los documentos necesarios para que una sociedad extranjera pueda emprender negocios en Colombia y sus modificaciones b) Acto de designación o remoción de revisores fiscales o representantes legales de la sucursal.</li>
                                <li>• Oficios y providencias que comuniquen o cancelen embargos y demandas civiles relacionadas con derechos cuya mutación esté sujeta a registro mercantil.</li>
                                <li>• Escrituras de constitución, reformas, y disolución de sociedades mercantiles y civiles.</li>
                                <li>• Constitución y reformas de empresas asociativas de trabajo así como su liquidación.</li>
                                <li>• Constitución y reformas de empresas unipersonales así como su liquidación.</li>
                                <li>• Acuerdo en que conste la designación, remoción o revocación de los administradores o revisores fiscales. • Certificación del revisor fiscal sobre capital suscrito y pagado en las sociedades por acciones.</li>
                                <li>• Documento privado mediante el cual se haga constar la situación de control, o sus modificaciones.</li>
                                <li>• El contrato de compraventa comercial con reserva de dominio.</li>
                                <li>• La constitución, modificación o cancelación del contrato de prenda sin tenencia.</li>
                                <li>• El contrato de agencia comercial.</li>
                                <li>• Respecto de los acuerdos de reestructuración:
                                <ul>
                                    <li>a) El aviso que informe sobre la promoción del acuerdo</li>
                                    <li>b) El aviso que informe sobre la convocatoria a la reunión&ZeroWidthSpace;</li>
                                </ul>
                                </li>
                            </ul>
                            
                            <p>&nbsp;</p>
                            
                            <p>&nbsp;</p>
                            
                            <p>de determinación de votos y acreencias ÔÇïc) La Convocatoria a reunión para la reforma del acuerdo de reestructuración d) La noticia de celebración del acuerdo e) La constancia de terminación del acuerdo.</p>
                            </div>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_21">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_21" aria-expanded="false" aria-controls="collapse_21">
                        ¿Cuáles efectos tiene la inscripción de los documentos y actos? 
                    </button>
                </h2>
                <div id="collapse_21" class="accordion-collapse collapse" aria-labelledby="heading_21" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>La inscripción de los actos y negocios jurídicos para los cuales la ley exige tal formalidad, tiene, por regla general, efectos declarativos, es decir, que sólo producen efectos respecto de terceros una vez se encuentren inscritos, pero producen efectos entre las partes desde que son celebrados. Excepcionalmente, la ley le da al registro efectos constitutivos, es decir, que el acto nace y produce efectos para todos sólo cuando haya sido inscrito, por ejemplo: la designación de representantes legales y revisores fiscales.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_22">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_22" aria-expanded="false" aria-controls="collapse_22">
                        ¿Cuándo se puede solicitar la inscripción?
                    </button>
                </h2>
                <div id="collapse_22" class="accordion-collapse collapse" aria-labelledby="heading_22" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div><p>En cualquier tiempo, pero los efectos que otorga la ley al registro no se producirán sino hasta la fecha de inscripción respectiva. Debe tenerse en cuenta que después de dos meses de haberse producido el documento si fue suscrito en Colombia, o tres meses si fue suscrito en el exterior, vencido este término la solicitud de inscripción causará intereses de mora por el pago del Impuesto de Registro a favor del Departamento.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_23">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_23" aria-expanded="false" aria-controls="collapse_23">
                        ¿Dónde debe realizarse la inscripción?
                    </button>
                </h2>
                <div id="collapse_23" class="accordion-collapse collapse" aria-labelledby="heading_23" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>En la Cámara de Comercio correspondiente al lugar donde se celebra el acto o contrato y, además, en la que tenga jurisdicción en el sitio donde se deba ejecutar o cumplir. Las sociedades deben hacer su inscripción en la Cámara correspondiente al domicilio social principal.</p>
                    </div>
                </div>
            </div>
        </div>
   </div>
           
</div>

