
<nav id="BreadCrumb" aria-label="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
                    <li class="breadcrumb-item"><a  [routerLink]="['/renovacion-mercantil']">Renovación mercantil</a></li>
                </ol>
            </div>
        </div>
    </div>
</nav>

<section class="p-0">
    <div class="container mt-3">
        <div class="row banner rounded-5 pb-5" style="background: url('https://source.unsplash.com/random/1024x768?business-meeting')no-repeat center/cover;">
            <div class="col-md-6">
                <h2 class="text-white text-uppercase">Bienvenido(a)</h2>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula purus, pharetra 
                    sit amet mi lobortis, aliquam porta nisl. Aliquam rhoncus elementum libero, id 
                    fringilla tortor elementum non. Donec pellentesque odio eget nibh dapibus.
                </p>
                <a href="#" class="btn btn-success text-white">Renueva en línea aquí</a>
            </div>
            <div class="col-md-6">
                <div class="ratio ratio-16x9 overflow-hidden rounded-5">
                    <video src="https://assets.mixkit.co/videos/download/mixkit-close-up-handshake-between-formal-dressed-men-30013-medium.mp4" autoplay muted loop></video>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 4rem;margin-top: -4rem;background-color: var(--bs-gray-300);"></div>
</section>
<section class="p-0" style="background-color: var(--bs-gray-300);">
    <div class="container">
        <div class="row justify-content-center pb-4" style="margin-top: -2rem;">
            <div class="col-md-3">
                <div class="card icon-title icon-left border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comercio.svg" alt="">
                        </div>    
                        <a href="#" class="card-title">Paso a paso para Renovar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card icon-title icon-left border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comercio.svg" alt="">
                        </div>    
                        <a href="#" class="card-title">Beneficios por Renovar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card icon-title icon-left border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comercio.svg" alt="">
                        </div>    
                        <a href="#" class="card-title">Puntos de atención</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <section class="row">
        <h2 class="mb-3">Boletines</h2>
        <div class="swiper slidesPerView-3">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/450x320?investments" alt="">
                            <a href="#"><i class="bi bi-arrow-right"></i></a>
                        </div>
                        <span class="badge rounded-pill text-bg-success">Vuelve Popayán</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/450x320?culture" alt="">
                            <a href="#"><i class="bi bi-arrow-right"></i></a>
                        </div>
                        <span class="badge rounded-pill text-bg-success">Boletín de registros públicos</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/450x320?management" alt="">
                            <a href="#"><i class="bi bi-arrow-right"></i></a>
                        </div>
                        <span class="badge rounded-pill text-bg-success">Boletín de registros públicos</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/450x320?conference" alt="">
                            <a href="#"><i class="bi bi-arrow-right"></i></a>
                        </div>
                        <span class="badge rounded-pill text-bg-success">Boletín de registros públicos</span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-img">
                        <div class="card-body">
                            <img src="https://source.unsplash.com/random/450x320?congress" alt="">
                            <a href="#"><i class="bi bi-arrow-right"></i></a>
                        </div>
                        <span class="badge rounded-pill text-bg-success">Boletín de registros públicos</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col">
            <div class="card bg-img">
                <div class="card-body">
                    <img src="https://source.unsplash.com/random/1280x768?business+goals" alt="">
                    <div class="card-title bt-left">
                        <h3>Guía de Formalización Empresarial</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula purus,
                            pharetra sit amet mi lobortis, aliquam porta nisl. Aliquam rhoncus</p>
                        <button class="btn btn-light ms-auto">
                            <span>Ver</span><i class="bi bi-arrow-right"></i>
                        </button>                     
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <h2>Preguntas frecuentes</h2>
        <div class="col-md-6">
            <div class="block-buttons-group">
                <div class="block-button">
                    <p>Renovar es aportar al desarrollo</p>
                    <a href="#">Ver</a>
                </div>
                <div class="block-button">
                    <p>Renovar es aportar al desarrollo</p>
                    <a href="#">Ver</a>
                </div>
                <div class="block-button">
                    <p>Renovar es aportar al desarrollo</p>
                    <a href="#">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="block-buttons-group">
                <div class="block-button">
                    <p>Renovar es aportar al desarrollo</p>
                    <a href="#">Ver</a>
                </div>
                <div class="block-button">
                    <p>Renovar es aportar al desarrollo</p>
                    <a href="#">Ver</a>
                </div>
                <div class="block-button">
                    <p>Renovar es aportar al desarrollo</p>
                    <a href="#">Ver</a>
                </div>
            </div>
        </div>
    </section>
</div>