<section class="row" id="Destacados">
    <div class="col">
        <h2>{{titulo}}</h2>
        <div class="row row-cols-1  row-cols-md-2 row-cols-xl-3 g-4 mt-5">
            <div class="card side-img" *ngFor="let destacado of getCurrentPageEvents()">
                <div class="card-image">
                    <img src="{{destacado.ruta}}" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a (click)="enviaroidNoticia(destacado.oid)" [routerLink]="['/detalleNoticia']" class="stretched-link">{{destacado.titulo}}</a></h5>
                    <p class="card-text" [class.expanded]="showMore">{{destacado.descripcion}}</p>
                    <button class="btn btn-primary">Ver más</button>
                    <small><i class="bi bi-clock"></i>{{destacado.fecha_publicacion}}</small>
                </div>
            </div>  
        </div>
    </div>
</section>
