<nav id="BreadCrumb" aria-label="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/competitividad-regional']">Competitividad Regional</a></li>
                </ol>
            </div>
        </div>
    </div>
</nav>
<main>
    <div class="container">
      <section>
        <div class="row rounded-4 border border-1" style="background-image: linear-gradient(to right, #fff 65%,#ffffff00), url('{{contenidoWeb.imagen}}'); background-repeat: no-repeat; background-position: center, center right; background-size: 100%,contain;">               
            <div class="col-md-8 px-5 pt-3 pb-5 h-75">
                <h1 class="card-title text-primary mb-3">{{contenidoWeb.titulo_1}}</h1>
                <p>{{contenidoWeb.descripcion}}</p>
                <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 mt-4 g-3">
                
                    <div class="col"  *ngFor="let competitividad of listaTiposCompetitividad">
                        <div class="card icon-title">
                            <div class="card-body">
                                <div class="card-icon">
                                    <img src="{{competitividad.ruta}}" alt="">
                                </div>
                                <a (click)="enviarDato(competitividad.oid)" [routerLink]="['/detalle-competitividad-regional']" class="card-title stretched-link">{{competitividad.titulo}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    </div>
</main>
