<app-nav [titulo]="'competitividad Regional'"></app-nav>
<main>
    <div class="container">
      <section>
        <div class="row rounded-4 border border-1" style="background-image: linear-gradient(to right, #fff 65%,#ffffff00), url('https://source.unsplash.com/random/768x1024?entrepreneurs'); background-repeat: no-repeat; background-position: center, center right; background-size: 100%,contain;">               
            <div class="col-md-8 px-5 pt-3 pb-5 h-75">
                <h1 class="card-title text-primary mb-3">Competitividad Regional</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula purus, pharetra 
                    sit amet mi lobortis, aliquam porta nisl. Aliquam rhoncus elementum libero, id 
                    fringilla tortor elementum non. Donec pellentesque odio eget nibh dapibus.
                </p>
                <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 mt-4 g-3">
                    <div class="col">
                        <div class="card icon-title">
                            <div class="card-body">
                                <div class="card-icon">
                                    <img src="../../../../assets/icons/cluster-cafe-alta-calidad.svg" alt="">
                                </div>
                                <h5 class="card-title">Clúster de café de alta calidad del Cauca</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card icon-title">
                            <div class="card-body">
                                <div class="card-icon">
                                    <img src="../../../../assets/icons/comision-regional-competitividad-cauca.svg" alt="">
                                </div>
                                <h5 class="card-title">Comisión Regional de Competitividad e Innovación del Cauca</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card icon-title">
                            <div class="card-body">
                                <div class="card-icon">
                                    <img src="../../../../assets/icons/conexcauca.svg" alt="">
                                </div>
                                <h5 class="card-title">CONEXCAUCA</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card icon-title">
                            <div class="card-body">
                                <div class="card-icon">
                                    <img src="../../../../assets/icons/rutas-competitivas.svg" alt="">
                                </div>
                                <h5 class="card-title">Rutas Competitivas</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card icon-title">
                            <div class="card-body">
                                <div class="card-icon">
                                    <img src="../../../../assets/icons/agencia-promocion-inversion.svg" alt="">
                                </div>
                                <h5 class="card-title">Agencia de Promoción de Inversión</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-5 mt-3 g-3">
                    <div class="col">
                        <div class="card icon-title">
                            <div class="card-body">
                                <div class="card-icon">
                                    <img src="../../../../assets/icons/unidad-de-proyectos.svg" alt="">
                                </div>
                                <h5 class="card-title">Unidad de Proyecyos</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card icon-title">
                            <div class="card-body">
                                <div class="card-icon">
                                    <img src="../../../../assets/icons/observatorio-infraestructura.svg" alt="">
                                </div>
                                <h5 class="card-title">Observatorio de Infraestructura</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card icon-title">
                            <div class="card-body">
                                <div class="card-icon">
                                    <img src="../../../../assets/icons/comision-regional-competitividad-cauca.svg" alt="">
                                </div>
                                <h5 class="card-title">Norte del Cauca Cómo vamos</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card icon-title">
                            <div class="card-body">
                                <div class="card-icon">
                                    <img src="../../../../assets/icons/revista-cauca-empresa.svg" alt="">
                                </div>
                                <h5 class="card-title">Revista Cauca Empresa</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card icon-title">
                            <div class="card-body">
                                <div class="card-icon">
                                    <img src="../../../../assets/icons/ormet-cauca.png" alt="">
                                </div>
                                <h5 class="card-title">Ormet Cauca</h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
      </section>
    </div>
</main>
