<app-nav [titulo]="'Programa ingenia'"></app-nav>


<section class="p-0">
    <div class="container mt-3">
        <div class="row banner rounded-5 pb-5" style="background: url('{{contenidoWeb.imagen}}')no-repeat center/cover;">
            <div class="col-md-6">
                <h2 class="text-white text-uppercase">{{contenidoWeb.titulo_1}}</h2>
                <p class="text-white">{{contenidoWeb.descripcion_1}}</p>
                <a href="#" class="btn btn-accent text-white">Inscríbete</a>
            </div>
        </div>
        <div class="row my-3 justify-content-end">
            <div class="col-auto">
                <ul class="social-share list-unstyled">
                    <li>Compartir</li>
                    <li><i class="bi bi-envelope-fill" style="color: #FFA000;"></i></li>
                    <li><i class="bi bi-facebook" style="color: #4460A0;"></i></li>
                    <li><i class="bi bi-twitter" style="color: #00AAEC;"></i></li>
                    <li><i class="bi bi-whatsapp" style="color: #67C15E;"></i></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-primary">{{contenidoWeb.descripcion_2}}<a href="#" class="btn btn-sm p-0 text-primary fw-bold">Ver más</a></p>
            </div>
        </div>
    </div>
</section>
<div class="bg-primary pt-3 pb-3" style="margin-bottom: 6rem;">
    <div class="container" style="margin-bottom: -3rem;">
        <h2 class="text-white mb-3">Nuestros Servicios</h2>
        <div class="row row-cols-2 row-cols-md-4 row-cols-xl-6 g-4 justify-content-center">
            <div class="col">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comercio.svg" alt="">
                        </div>    
                        <a href="#" class="card-title stretched-link">Asesoría Personalizada</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comercio.svg" alt="">
                        </div>    
                        <a href="#" class="card-title stretched-link">Concurso Ingeniando</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comercio.svg" alt="">
                        </div>    
                        <a href="#" class="card-title stretched-link">Merienda E</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comercio.svg" alt="">
                        </div>    
                        <a href="#" class="card-title stretched-link">Rutas Básicas</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comercio.svg" alt="">
                        </div>    
                        <a href="#" class="card-title stretched-link">Convocatorias Micro</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comercio.svg" alt="">
                        </div>    
                        <a href="#" class="card-title stretched-link">Convocatorias Emprendedores</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row my-5 p-3 bg-light rounded-4">
        <div class="col-md-6">
            <div class="swiper swiper-blog">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><video src="https://assets.mixkit.co/videos/download/mixkit-young-models-posing-in-front-of-the-camera-47778-medium.mp4" muted autoplay loop></video><h3>Se acerca el evento más <b>fashion</b> del departamento</h3></div>
                    <div class="swiper-slide"><video src="https://assets.mixkit.co/videos/download/mixkit-busy-office-space-918-medium.mp4" ></video><h3>Jornada laboral de <b>cuatro</b> horas</h3></div>
                    <div class="swiper-slide"><video src="https://assets.mixkit.co/videos/download/mixkit-girl-walking-on-the-runway-47779-medium.mp4" ></video><h3>Conozca a la <b>representante</b> al reinado</h3></div>
                    <div class="swiper-slide"><video src="https://assets.mixkit.co/videos/download/mixkit-online-shoping-with-credit-card-14009-medium.mp4" ></video><h3>Preocupación por el <b>pago</b> de impuestos</h3></div>
                    <div class="swiper-slide"><video src="https://assets.mixkit.co/videos/download/mixkit-hands-of-a-man-counting-coins-close-up-view-18263-medium.mp4" ></video><h3><b>Cinco</b> métodos de ahorro</h3></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="col-md-6 align-self-center">
            <div class="block-buttons-group">
                <div class="block-button">
                    <p>Mipymes Digitales 2023</p>
                    <a href="#">Ver</a>
                </div>
                <div class="block-button">
                    <p>Crecer vendiendo</p>
                    <a href="#">Ver</a>
                </div>
                <div class="block-button">
                    <p>Renovar es aportar al desarrollo</p>
                    <a href="#">Ver</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="ratio ratio-16x9 overflow-hidden rounded-5">
                <video src="https://assets.mixkit.co/videos/download/mixkit-open-office-space-914-medium.mp4" controls></video>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <app-swiper-slide-eventos></app-swiper-slide-eventos>
</div>
