<app-nav [titulo]="'Aliado plus'"></app-nav>
<section class="container">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="../../../../assets/images/banner-aliados-plus.jpg" alt="">
        </div>
    </div>
</section>
<section class="bg-primary py-4">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-3 px-5 px-md-0">
            <div class="col"><button type="button" class="btn btn-light py-3 w-100 rounded-pill">Ingenia</button></div>
            <div class="col"><button type="button" class="btn btn-light py-3 w-100 rounded-pill">Asesoría</button></div>
            <div class="col"><button type="button" class="btn btn-light py-3 w-100 rounded-pill">Comunidad</button></div>
            <div class="col"><button type="button" class="btn btn-light py-3 w-100 rounded-pill">Tarifa</button></div>
            <div class="col"><button type="button" class="btn btn-light py-3 w-100 rounded-pill">Gestión Comercial</button></div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row mb-4">
        <div class="col">
            <h2>¿De que trata Aliados Plus?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula purus, pharetra sit amet mi lobortis, aliquam porta nisl. Aliquam rhoncus elementum libero, id fringilla tortor elementum non. Donec pellentesque odio eget nibh dapibus, ut ultricies erat blandit. Phasellus finibus diam sed metus fermentum egestas. Aenean vel sapien finibus risus eleifend fermentum nec nec dui. Nulla et dapibus sem, id mattis erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla id sollicitudin nulla, eu tempor tellus. Curabitur tincidunt mi et nisi imperdiet varius.<a class="readmore" href="#">Ver más...</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            
                 <app-card-side-img></app-card-side-img>
      
        </div>
        <div class="col-md-4">
            <h3>Preguntas Frecuentes</h3>
            <div class="block-buttons-group  px-0">
                <div class="block-button">
                    <p>Renovar es aportar al desarrollo</p>
                    <a href="#">Ver</a>
                </div>
                <div class="block-button">
                    <p>Renovar es aportar al desarrollo</p>
                    <a href="#">Ver</a>
                </div>
                <div class="block-button">
                    <p>Renovar es aportar al desarrollo</p>
                    <a href="#">Ver</a>
                </div>
            </div>
        </div>
    </div>
</section>


<app-swiper-slide-eventos></app-swiper-slide-eventos>


<section class="container">
    <h2 class="mb-4">Noticias</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mb-5">
        <div class="col"><a href="#"><img class="img-fluid" src="https://source.unsplash.com/random/450x320?investments" alt=""></a></div>
        <div class="col"><a href="#"><img class="img-fluid" src="https://source.unsplash.com/random/450x320?bank" alt=""></a></div>
        <div class="col"><a href="#"><img class="img-fluid" src="https://source.unsplash.com/random/450x320?trade-center" alt=""></a></div>
    </div>
    <h2 class="mb-4">Otros programas</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4 mb-5">
        <div class="col"><a href="#"><img class="img-fluid" src="https://source.unsplash.com/random/450x320?medicine" alt=""></a></div>
        <div class="col"><a href="#"><img class="img-fluid" src="https://source.unsplash.com/random/450x320?agriculture" alt=""></a></div>
        <div class="col"><a href="#"><img class="img-fluid" src="https://source.unsplash.com/random/450x320?research" alt=""></a></div>
        <div class="col"><a href="#"><img class="img-fluid" src="https://source.unsplash.com/random/450x320?sports" alt=""></a></div>
    </div>
</section>
