<h2>Eventos</h2>
<!-- Slider main container -->
<div class="swiper swiper-eventos py-3 swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let event of eventos">
      <div class="card bg-img eventos">
        <div class="card-body">
          <img src="{{event.ruta}}" alt="">
          <div class="card-title tp-left">
            <h3 class="text-uppercase">{{event.titulo}}</h3>
            <p>{{event.lugar}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="d-flex justify-content-end">
  <a [routerLink]="['/eventos']" class="btn btn-lg btn-primary fw-bold rounded-4 py-4 px-5 mt-4">Ver todos los eventos
    >></a>
</div>