
<app-main-slider></app-main-slider>
<app-icon-menu></app-icon-menu>

<main>
    <div class="container">  
        <app-swiper-eventos></app-swiper-eventos>

        <section id="Blog" class="pt-0">
            <div class="row mb-4">
                <h2>Blog</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Slider main container -->
                    <app-blog></app-blog>
                </div>
                <div class="col-md-6 mt-3">
                    <h3 class="fw-bold text-secondary h4 ms-5 mb-0">PODCAST</h3>
                    <app-block-button></app-block-button>
                </div>
            </div>
        </section>
        
        <app-swiper-noticia></app-swiper-noticia>


        <section class="row" id="Destacados">
            <div class="col">
                <h2>Destacados</h2>
                <div class="row row-cols-1  row-cols-md-2 row-cols-xl-3 g-4 mt-5">
                    <div class="card side-img">
                        <div class="card-image">
                            <img src="https://source.unsplash.com/random/200x200?championship" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#" class="stretched-link">Título del destacado</a></h5>
                            <p class="card-text">Ofrecer herramientas prácticas en cada uno de los talleres.</p>
                            <small><i class="bi bi-clock"></i> Hace 3 horas</small>
                        </div>
                    </div>                    
                    <div class="card side-img">
                        <div class="card-image">
                            <img src="https://source.unsplash.com/random/200x200?congrats" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#" class="stretched-link">Título del destacado</a></h5>
                            <p class="card-text">Ofrecer herramientas prácticas en cada uno de los talleres.</p>
                            <small><i class="bi bi-clock"></i> Hace 3 horas</small>
                        </div>
                    </div>
                    <div class="card side-img">
                        <div class="card-image">
                            <img src="https://source.unsplash.com/random/200x200?prize" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#" class="stretched-link">Título del destacado</a></h5>
                            <p class="card-text">Ofrecer herramientas prácticas en cada uno de los talleres.</p>
                            <small><i class="bi bi-clock"></i> Hace 3 horas</small>
                        </div>
                    </div>
                    <div class="card side-img">
                        <div class="card-image">
                            <img src="https://source.unsplash.com/random/200x200?speech" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#" class="stretched-link">Título del destacado</a></h5>
                            <p class="card-text">Ofrecer herramientas prácticas en cada uno de los talleres.</p>
                            <small><i class="bi bi-clock"></i> Hace 3 horas</small>
                        </div>
                    </div>
                    <div class="card side-img">
                        <div class="card-image">
                            <img src="https://source.unsplash.com/random/200x200?meeting" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#" class="stretched-link">Título del destacado</a></h5>
                            <p class="card-text">Ofrecer herramientas prácticas en cada uno de los talleres.</p>
                            <small><i class="bi bi-clock"></i> Hace 3 horas</small>
                        </div>
                    </div>
                    <div class="card side-img">
                        <div class="card-image">
                            <img src="https://source.unsplash.com/random/200x200?office" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#" class="stretched-link">Título del destacado</a></h5>
                            <p class="card-text">Ofrecer herramientas prácticas en cada uno de los talleres.</p>
                            <small><i class="bi bi-clock"></i> Hace 3 horas</small>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>