
<app-main-slider></app-main-slider>
<app-icon-menu></app-icon-menu>
<main>
    <div class="container">  
        <app-swiper-eventos></app-swiper-eventos>
        <section id="Blog" class="pt-0">
            <div class="row mb-4">
                <h2>Blog</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Slider main container -->
                    <app-blog></app-blog>
                </div>
                <div class="col-md-6 mt-3">
                    <h3 class="fw-bold text-secondary h4 ms-5 mb-0">PODCAST</h3>
                    <app-block-button></app-block-button>
                </div>
            </div>
        </section>
        
        <app-swiper-noticia></app-swiper-noticia>

        <app-card-side-img [titulo]="'Destacados'"></app-card-side-img>
    </div>
</main>