
<section id="MainSlider" >
    <app-main-slider></app-main-slider>
</section>
<app-icon-menu></app-icon-menu>
<main>
    <div class="container">
        <section class="row" id="Eventos">
            <div class="col py-5">
                <app-swiper-eventos  [eventos]="eventos" [tituloEventos]="'Eventos'"></app-swiper-eventos>

              <div class="d-flex justify-content-end">
                <a [routerLink]="['/eventos']" class="btn btn-lg btn-primary fw-bold rounded-4 py-4 px-5 mt-4">Ver todos los eventos >></a>
              </div>
              
            </div>
          </section>

        <section id="Blog" class="pt-0">
            <div class="row mb-4">
                <h2>Blog</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <!-- Slider main container -->
                    <app-blog></app-blog>
                </div>
                <div class="col-md-6 mt-3">
                    <h3 class="fw-bold text-secondary h4 ms-5 mb-0">PODCAST</h3>
                    <app-block-button></app-block-button>
                </div>
            </div>
        </section>


        <section class="row bg-primary rounded-5 p-2 pt-5" id="Noticias" style="margin-bottom: 7rem;">
            <div class="col">
                <app-noticias [noticias]="noticias" [tituloNoticias]="'Noticiasss'"></app-noticias>

            </div>
        </section>

        <section class="row" id="Destacados">
            <div class="col">
                <h2>Destacados</h2>
                <div class="row row-cols-1  row-cols-md-2 row-cols-xl-3 g-4 mt-5">
                    <app-card-side-img></app-card-side-img>
                    <app-card-side-img></app-card-side-img>
                    <app-card-side-img></app-card-side-img>
                    <app-card-side-img></app-card-side-img>
                    <app-card-side-img></app-card-side-img>
                    <app-card-side-img></app-card-side-img>
                </div>
            </div>
        </section>
    </div>
</main>