<app-nav [titulo]="'Información Económica'"></app-nav>
<section>
    <div class="container">
        <div class="row">
            <div class="banner rounded-5" style="height:350px">
               <img  src="{{contenidoWeb.imagen}}" >
                <h2 class="title bt-left">{{contenidoWeb.titulo_1}}</h2>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row mb-5">
            <h3>{{contenidoWeb.titulo_2}}</h3>
            <p>{{contenidoWeb.descripcion}}</p>
        </div>
        <div class="row mb-5 justify-content-center">
            <div class="col-md-3">
                <div class="card icon-title icon-left border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/comercio.svg" alt="">
                        </div>    
                        <h5 class="card-title">Ranking por año</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card icon-title icon-left border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/crecimiento-economico.svg" alt="">
                        </div>    
                        <a href="crecimiento-economico-del-departamento.html" class="card-title">Crecimiento Económico del Departamento</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card icon-title icon-left border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/analisis-de-sectores.svg" alt="">
                        </div>    
                        <h5 class="card-title">Análisis de los Sectores</h5>
                    </div>
                </div>
            </div>
        </div>
       <app-ranking-empresa ></app-ranking-empresa>
        <div class="row mb-5">
            <div class="col">
               <app-blog [modulo]="'informacion-economica'"></app-blog>
            </div>
        </div>
    </div>
</section>