
<nav id="BreadCrumb" aria-label="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
                    <li class="breadcrumb-item"><a  [routerLink]="['/centro-conciliacion']">Centro de conciliación</a></li>
                </ol>
            </div>
        </div>
    </div>
</nav>
<section class="p-0">
    <div class="container mt-3 mb-5">
        <div class="row banner rounded-5 pb-5" style="background: url('https://source.unsplash.com/random/1024x768?business+meeting')no-repeat center/cover;">
            <div class="col-md-6 align-self-end">
                <h1 class="text-white">Conciliación <br><span class="fs-1">2023</span></h1>
            </div>
        </div>
        <div class="row mt-4 row-cols-1 row-cols-md-2 row-cols-xl-4 g-4 justify-content-center">
            <div class="col">
                <div class="card icon-title icon-left border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/conciliacion.svg" alt="">
                        </div>
                        <a href="#" class="card-title stretched-link">Conciliación</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title icon-left border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/arbitraje.svg" alt="">
                        </div>
                        <a href="#" class="card-title stretched-link">Arbitraje</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title icon-left border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/amigable-composicion.svg" alt="">
                        </div>
                        <a href="#" class="card-title stretched-link">Amigable Composición</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card icon-title icon-left border-primary">
                    <div class="card-body">
                        <div class="card-icon">
                            <img src="../../../../assets/icons/recuperacion-empresarial.svg" alt="">
                        </div>
                        <a href="#" class="card-title stretched-link">Recuperación Empresarial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row mb-5">
        <div class="col">
            <h2>¿Qué es y para qué sirve la concilicación?</h2>
            <p class="text-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula purus, pharetra sit amet mi lobortis, aliquam porta nisl. Aliquam rhoncus elementum libero, id fringilla tortor elementum non. Donec pellentesque odio eget nibh dapibus, ut ultricies erat blandit. Phasellus finibus diam sed metus fermentum egestas. Aenean vel sapien finibus  ac leo felis. Pellentesque tincidunt, metus non convallis mattis, nisl lacus porttitor elit, vitae tincidunt ligula nunc quis mi. Etiam vestibulum nunc id eros viverra, eget vestibulum ligula pellentesque. Suspendisse potenti.  pellentesque lorem nec est lacinia aliquet. <a href="#" class="btn btn-sm p-0 text-primary fw-bold">Ver más</a></p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="ratio ratio-16x9 overflow-hidden rounded-5">
                <video src="https://assets.mixkit.co/videos/download/mixkit-open-office-space-914-medium.mp4" controls></video>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <h2>Preguntas frecuentes</h2>
        <div class="col-md-6">
            <div class="block-buttons-group">
                <div class="block-button">
                    <p>Pregunta # 1</p>
                    <a href="#">Ver</a>
                </div>
                <div class="block-button">
                    <p>Pregunta # 2</p>
                    <a href="#">Ver</a>
                </div>
                <div class="block-button">
                    <p>Pregunta # 3</p>
                    <a href="#">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="block-buttons-group">
                <div class="block-button">
                    <p>Pregunta # 4</p>
                    <a href="#">Ver</a>
                </div>
                <div class="block-button">
                    <p>Pregunta # 5</p>
                    <a href="#">Ver</a>
                </div>
                <div class="block-button">
                    <p>Pregunta # 6</p>
                    <a href="#">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="bg-primary" style="margin-bottom: 7rem;">
    <div class="container">
        <div class="row ">
            <div class="col-auto align-self-center">
                <h2 class="text-white">Eventos</h2>
            </div>
            <div class="col-md-10">
                <div class=" ps-5 swiper slidesPerView-3"  style="margin-bottom: -7rem;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card bg-img">
                                <div class="card-body">
                                    <img src="https://source.unsplash.com/random/480x768?tech" alt="">
                                    <div class="card-title bt-left">
                                        <h3>Título</h3>
                                        <a href="noticia.html" class="btn btn-light bt-left">
                                            <span>Ver</span><i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card bg-img">
                                <div class="card-body">
                                    <img src="https://source.unsplash.com/random/480x768?filming" alt="">
                                    <div class="card-title bt-left">
                                        <h3>Título</h3>
                                        <a href="noticia.html" class="btn btn-light bt-left">
                                            <span>Ver</span><i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card bg-img">
                                <div class="card-body">
                                    <img src="https://source.unsplash.com/random/480x768?business" alt="">
                                    <div class="card-title bt-left">
                                        <h3>Título</h3>
                                        <a href="noticia.html" class="btn btn-light bt-left">
                                            <span>Ver</span><i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card bg-img">
                                <div class="card-body">
                                    <img src="https://source.unsplash.com/random/480x768?party" alt="">
                                    <div class="card-title bt-left">
                                        <h3>Título</h3>
                                        <a href="noticia.html" class="btn btn-light bt-left">
                                            <span>Ver</span><i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card bg-img">
                                <div class="card-body">
                                    <img src="https://source.unsplash.com/random/480x768?meeting" alt="">
                                    <div class="card-title bt-left">
                                        <h3>Título</h3>
                                        <a href="noticia.html" class="btn btn-light bt-left">
                                            <span>Ver</span><i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card bg-img">
                                <div class="card-body">
                                    <img src="https://source.unsplash.com/random/480x768?shopping" alt="">
                                    <div class="card-title bt-left">
                                        <h3>Título</h3>
                                        <a href="noticia.html" class="btn btn-light bt-left">
                                            <span>Ver</span><i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col">
            <h3>Revistas</h3>
            <div class="row row-cols-1  row-cols-md-2 row-cols-xl-3 g-4 mt-3">
                <div class="card side-img">
                    <div class="card-image">
                        <img src="https://source.unsplash.com/random/350x200?prize" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="stretched-link">Título de revista</a></h5>
                        <p class="card-text">Ofrecer herramientas prácticas en cada uno de los talleres.</p>
                        <small><i class="bi bi-clock"></i> Hace 3 horas</small>
                    </div>
                </div>
                <div class="card side-img">
                    <div class="card-image">
                        <img src="https://source.unsplash.com/random/350x200?speech" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="stretched-link">Título de revista</a></h5>
                        <p class="card-text">Ofrecer herramientas prácticas en cada uno de los talleres.</p>
                        <small><i class="bi bi-clock"></i> Hace 3 horas</small>
                    </div>
                </div>
                <div class="card side-img">
                    <div class="card-image">
                        <img src="https://source.unsplash.com/random/350x200?meeting" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="stretched-link">Título de revista</a></h5>
                        <p class="card-text">Ofrecer herramientas prácticas en cada uno de los talleres.</p>
                        <small><i class="bi bi-clock"></i> Hace 3 horas</small>
                    </div>
                </div>
                <div class="card side-img">
                    <div class="card-image">
                        <img src="https://source.unsplash.com/random/350x200?office" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="stretched-link">Título de revista</a></h5>
                        <p class="card-text">Ofrecer herramientas prácticas en cada uno de los talleres.</p>
                        <small><i class="bi bi-clock"></i> Hace 3 horas</small>
                    </div>
                </div>
                <div class="card side-img">
                    <div class="card-image">
                        <img src="https://source.unsplash.com/random/350x200?hall" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="stretched-link">Título de revista</a></h5>
                        <p class="card-text">Ofrecer herramientas prácticas en cada uno de los talleres.</p>
                        <small><i class="bi bi-clock"></i> Hace 3 horas</small>
                    </div>
                </div>
                <div class="card side-img">
                    <div class="card-image">
                        <img src="https://source.unsplash.com/random/350x200?building" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#" class="stretched-link">Título de revista</a></h5>
                        <p class="card-text">Ofrecer herramientas prácticas en cada uno de los talleres.</p>
                        <small><i class="bi bi-clock"></i> Hace 3 horas</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
